<div>
  <ng-container *ngIf="currentToken == undefined; else elseTemplate">
    <div>
      <label>
        Username: <input [(ngModel)]="user.username" placeholder="username" />
      </label>
    </div>
    <div>
      <label>
        E-mail: <input [(ngModel)]="user.email" placeholder="email" />
      </label>
    </div>
    <div>
      <label>
        Password: <input [(ngModel)]="user.password" placeholder="password" />
      </label>
    </div>
    <app-login-button [(userToCheck)]="user" [(userToLogin)]="user" (tokenEvent)="dobijToken($event)">
    </app-login-button>
    <app-register-button [(userToRegister)]="user"></app-register-button>
  </ng-container>
  <ng-template #elseTemplate>
    <app-user [(user)]="user" [(token)]="currentToken"></app-user>
  </ng-template>
</div>