<h2>Recepti</h2>
<div class="containsAll">
    <ul class="recepti">
            <li *ngFor="let recept of recepti"
                (click)="onSelect(recept)"
                [class.selected]="recept === selektovanRecept">
                <span class="badge">{{recept.id}}</span> {{recept.name}}
            </li>
        </ul>
</div>

<div *ngIf="selektovanRecept" class="proizvodContain">
    {{selektovanRecept.name}}
    <div>
        {{selektovanRecept.opis}}
    </div>
    <li *ngFor="let proizvod of selektovanRecept.listaProizvoda">
        <span class="badge2">{{proizvod.name}}</span>
    </li>
</div>
